@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-dark: #234862;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  transition: all ease-in-out 150ms;
}

body,
html {
  background-color: var(--background-dark);
  background-size: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: white;
  overflow: hidden;
}

input {
  border: none;
  background-color: rgba(31, 41, 55, 1);
  border-bottom: 2px solid rgba(75, 85, 99, 1);
}

select {
  border: none;
  background-color: rgba(31, 41, 55, 1);
  border-bottom: 2px solid rgba(75, 85, 99, 1);
}

select:focus {
  outline: none;
  border-color: rgba(52, 211, 153);
}

input:focus {
  outline: none;
  border-color: rgba(52, 211, 153);
}

input[type="submit"] {
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: white;
  color: rgba(31, 41, 55, 1);
}

input[type="submit"]:focus {
  background-color: white;
  color: rgba(31, 41, 55, 1);
}

label {
  display: block;
}

a {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #35ee2f;
}

::-webkit-scrollbar-thumb:hover {
  background: #238f31;
}
